extends ../../layouts/default.pug

block main
    .edit-category-page#editCategoryPage
        .user-management-content
            .header-section
                h1.page-title Chỉnh sửa danh mục
                a.btn.btn-light.btn-sm#closeCategoryForm(href='/admin/categories/' title="Đóng")
                    i.fas.fa-times

            .table-container
                .p-4
                    form#editCategoryForm(action=`/admin/categories/edit/${category._id}` method="POST")
                        .mb-4
                            label.form-label.fw-bold(for="name") Tiêu đề
                            input.form-control.form-control-lg(type="text" name="name" required placeholder="Nhập tiêu đề danh mục" value=category.name)

                        .mb-4
                            label.form-label.fw-bold(for="categoryType") Loại
                            select.form-select.form-select-lg(name="type[]" id="categoryType" multiple required)
                                option(value="Bài viết" selected=(category.type && category.type.includes("Bài viết"))) Bài viết
                                option(value="Tài liệu" selected=(category.type && category.type.includes("Tài liệu"))) Tài liệu
                                option(value="Diễn đàn" selected=(category.type && category.type.includes("Diễn đàn"))) Diễn đàn

                        .mt-5.d-flex.justify-content-between
                            button.btn-login.btn-lg.px-4(type="submit") CẬP NHẬT
                            a.btn.btn-outline-secondary.btn-lg.p-4#closeCategoryForm(href='/admin/categories/' title="HỦY") HỦY