extends ../../layouts/default.pug
include ../../mixins/pagination.pug


block main
  .user-management-content
    .header-section
      h1.page-title Danh sách danh mục
      a.add-a(href='/admin/categories/add' type="a")
        | Thêm danh mục mới
    .table-container
      table.user-table
        thead
          tr
            th ID
            th Tên danh mục
            th Loại
            th Thao tác
        tbody
          if categories && categories.length
            each category,index in categories
              tr.user-row(class=category.status === 'inactive' ? 'inactive-row' : '')
                td= skip+index+1
                td= category.Name
                td
                  if Array.isArray(category.Type)
                    = category.Type.join(', ')
                  else
                    = category.Type
                td.actions
                  - var type = 'categories';
                  - var id = category.CategoryID;
                  - var status = category.status;
                  - var editUrl = `/admin/categories/edit/${category.CategoryID}`;
                  - var deleteFunc = 'deleteCategory';
                  include ../../partials/action.pug
    +pagination(currentPage, totalPages)
                  