footer.mt-auto.py-3
    .container
    .d-flex.flex-wrap.justify-content-between.align-items-center
        // Bên trái: Copyright và Social Links
        .d-flex.align-items-center
        span.copyright © 2025 miniStack 
        a.footer-link.ms-2(href="#")
            i.fab.fa-twitter.social-icon
            span Twitter
        a.footer-link(href="#")
            i.fab.fa-linkedin.social-icon
            span LinkedIn
        a.footer-link(href="#")
            i.far.fa-envelope.social-icon
            span Email
        
        // Bên phải: RSS feed và Feedly
        .d-flex.align-items-center
        a.footer-link(href="#")
            i.fas.fa-rss.social-icon
            span RSS feed
        a.footer-link.feed-link(href="#")
            i.fas.fa-plus-circle.social-icon
            span Add to Feedly