header.py-2.border-bottom
    .container.d-flex.justify-content-between.align-items-center
        // Logo bên trái
        a.navbar-brand(href="/") miniStack


        // Ô tìm kiếm ở giữa
        .d-flex.w-50.justify-content-center
            form.input-group.w-75(action="/search" method="GET")
                input.form-control.search-input(type="search" name="q" placeholder="Tìm kiếm câu hỏi..." value=searchQuery || "")
                .input-group-append
                    button.btn.btn-search(type="submit")
                        i.fas.fa-search

        // Các liên kết và nút đăng nhập bên phải
        .d-flex.align-items-center
            a.nav-link.text-dark.me-3(href="/") Trang chủ
            a.nav-link.text-dark.me-3(href="#") Liên hệ

            if !user
                a.btn.btn-login.px-4(href="/auth/login") Đăng nhập
            else if isHomePage
                .dropdown
                    button.btn.btn-user.dropdown-toggle.d-flex.align-items-center(type="button", data-bs-toggle="dropdown", aria-expanded="false")
                        if user.Avatar
                            img.rounded-circle.me-2(src=user.Avatar, alt="Avatar", width="32", height="32")
                        else
                            i.fas.fa-user-circle.fa-2x.me-2
                        span= user.FullName || user.Email
                    ul.dropdown-menu.dropdown-menu-end
                        li
                            a.dropdown-item(href="/UserProfile") Thông tin cá nhân
                        li
                            hr.dropdown-divider
                        li
                            form(action="/auth/logout", method="post", style="display:inline")
                                button.dropdown-item(type="submit") Đăng xuất

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")