.sidebar
    .sidebar-menu
        a.sidebar-item.active(href="/forum-topic")
            i.fas.fa-comments.sidebar-icon
            span Diễn đàn
        
        a.sidebar-item(href="/chatBox")
            i.fas.fa-robot.sidebar-icon
            span Trao đổi cùng AI
        
        a.sidebar-item(href="/compile")
            i.fas.fa-code.sidebar-icon
            span Biên dịch
        
        a.sidebar-item(href="/blog")
            i.fas.fa-file-alt.sidebar-icon
            span Bài viết
        
        a.sidebar-item(href="/Document")
            i.fas.fa-book.sidebar-icon
            span Tài liệu

    .sidebar-footer
        a.sidebar-item(href="/Profile")
            i.fas.fa-cog.sidebar-icon
            span Cài đặt
        a.sidebar-item(href="javascript:void(0)" id="sidebar-logout")
            i.fas.fa-sign-out-alt.sidebar-icon
            span Đăng xuất
    .user-profile
        if user
            if user.Avatar
                img.user-avatar(src=user.Avatar alt="User Avatar")
            else
                i.fas.fa-user-circle.fa-2x.user-avatar
            .user-info
                .user-name= user.FullName || user.Email
                .user-email= user.Email
        else
            img.user-avatar(src="https://i.pravatar.cc/100" alt="User Avatar")
            .user-info
                .user-name Guest
                .user-email ""

form#sidebar-logout-form(action="/auth/logout" method="POST" style="display:none")
script(src="/js/scriptQ.js")