/* Căn chỉnh layout */
.container-fluid {
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 1.5rem;
}

input[readonly] {
  background-color: #e9ecef;
  cursor: not-allowed;
}

img.rounded-circle {
  border: 2px solid #dee2e6;
}

/* Sidebar */
.list-group-item {
  cursor: pointer;
}

.list-group-item.active {
  background-color: #212529;
  border-color: #212529;
  color: #fff;
  font-weight: 600;
}

/* Button */
button#edit-info {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #212529;
}

button#edit-info:hover {
  background-color: #e0a800;
}

/* Responsive */
/*@media (max-width: 800px) {
  .col-md-3,
  .col-md-9 {
    width: 150%;
    margin-bottom: 10px;
  }
}
*/
@media (max-width: 768px) {
  .col-md-3 {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .col-md-9 {
    width: 100%;
    margin-bottom: 20px;
  }
}