extends ../../layouts/defaultMenu.pug

block main
  .container
  each post in [1, 2, 3, 4, 5]
    .post-box
      img(src="https://www.crowe.com/vn/vi-vn/-/media/crowe/firms/asia-pacific/vn/crowehorwathvn/images/news/notes-on-notice-of-tax-inspection-examination-receiving.jpg?rev=-1&hash=14DA7D689F742216225703372840C717", alt="thumbnail")
      .post-content
        h3 org.hibernate.query.QueryArgumentException: Argument [44]
        p I have 2 tables in database "Courses" and "Instructor" with "Instructor" table having one to many relation with "Courses" table and "Courses" table having many to one relation with same....

  .pagination
    span &lt; Prev
    each n in [1, 2, 3, 4, 5]
      if n == 2
        span.page.active= n
      else
        span.page= n
    span Next &gt;
