extends ../../layouts/defaultMenu.pug

block main
  div(class="container")
    div(class="question-detail")
      div(class="question-detail__header")
        h1.question-detail__heading Câu hỏi
        div(class="question-detail__actions")
          button(class="question-detail__add-btn") Thêm câu hỏi

      div(class="question-detail__content")
        h2(class="question-detail__title") org.hibernate.query.QueryArgumentException: Argument [44]

        div(class="question-detail__meta")
          div(class="question-detail__author")
            i(class="fas fa-user")
            span : John Doe
          div(class="question-detail__date")
            i(class="fas fa-calendar-alt")
            span 15/03/2024 - 14:30

        p(class="question-detail__description")
          | I have 2 objects in database "Courses" and "Instructors" with "instructor" table having one to many relation with "Courses" table
          br
          | However, trying to use hql to join these two tables using below query 
          br
          | public Query getCoursesDeliveredByInstructor(long instructorId) 
          br
          | String hql = "FROM Course c WHERE c.instructor_id = :instructorId";
          br
          | return getCurrentSession().createQuery(hql).setParameter("instructorId", instructorId);
          br
          br
          | I am getting error as shown below...
          br
          | Please suggest me what should I do to the query to to the expected results.
          br
          | Thanks for your help in advance.
          br
          | Have relationship shown below.

    div(class="comment")
      h3.comment__title Bình luận

      div(class="comment__item")
        div(class="comment__avatar")
          img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVNthwpFXoDvKWRGLPkXwIn4dRWmeJ0dDm3w&s" alt="Avatar")
        div(class="comment__content")
          div(class="comment__meta")
            span(class="comment__author") Rohit Jaiswal
            span(class="comment__time") 09:30 AM
            span(class="comment__reply") Trả lời
          p(class="comment__text")
            | I think the problem might be with the HQL syntax...
            br
            | If your Course entity has a field like instructor...

      div(class="comment__item")
        div(class="comment__avatar")
          img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVNthwpFXoDvKWRGLPkXwIn4dRWmeJ0dDm3w&s" alt="Avatar")
        div(class="comment__content")
          div(class="comment__meta")
            span(class="comment__author") Rohit Jaiswal
            span(class="comment__time") 09:31 AM
            span(class="comment__reply") Trả lời
          p(class="comment__text")
            | Also, make sure the parameter type matches...
            br
            | Let me know if this helps...

      div(class="comment__input")
        h3.comment__input-title Thêm bình luận
        div(class="comment__input-box")
          div(class="comment__toolbar")
            div(class="comment__toolbar-buttons")
              button.comment__toolbar-btn
                i(class="fas fa-bold")
              button.comment__toolbar-btn
                i(class="fas fa-italic")
              button.comment__toolbar-btn
                i(class="fas fa-underline")
              button.comment__toolbar-btn.comment__toolbar-btn--border
                i(class="fas fa-list")
              button.comment__toolbar-btn
                i(class="fas fa-list-ul")
              button.comment__toolbar-btn
                i(class="fas fa-list-ol")
              button.comment__toolbar-btn
                i(class="fas fa-link")
              button.comment__toolbar-btn
                i(class="fas fa-image")
            div(class="comment__toolbar-actions")
              button.comment__toolbar-btn
                i(class="fas fa-file-alt")
              button.comment__toolbar-btn
                i(class="fas fa-save")
              button.comment__toolbar-btn
                i(class="fas fa-eye")
          textarea.comment__textarea(placeholder="Viết bình luận của bạn...")
        div(class="comment__submit")
          button.comment__submit-btn Đăng bình luận
