extends ../../layouts/default.pug

block main
  .dashboard-container
    h1.dashboard-title Dashboard
    
    .stats-container
      .stats-card
        .stats-title Số lượng câu hỏi
        .stats-value 100
      
      .stats-card
        .stats-title Số lượng người dùng
        .stats-value 100
      
      .stats-card
        .stats-title Số lượng bài viết
        .stats-value 100
      
      .stats-card
        .stats-title Số lượng tài liệu
        .stats-value 100