header.header
  .header-container
    .header-left
      .logo
        a(href="/")
          h1 miniStack
    .header-right
      .admin-profile
        a.profile-link(href="/admin/profile")
          .admin-avatar
            img(src="https://e7.pngegg.com/pngimages/349/288/png-clipart-teacher-education-student-course-school-avatar-child-face.png" alt="Admin")
          span.admin-name Admin
      .auth-buttons
        a.btn.btn-logout(href="/dang-xuat") Đăng xuất