.sidebar
  nav.sidebar-nav
    ul.nav-list
      li.nav-item
        a.nav-link(href=`/${prefixAdmin}/dashboard`, class=(currentPath === '/dashboard' ? 'active' : '')) Dashboard
      li.nav-item
        a.nav-link(href=`/${prefixAdmin}/user`, class=(currentPath === '/user' ? 'active' : '')) Quản lý người dùng
      li.nav-item
        a.nav-link(href="/quan-ly-dien-dan", class=(currentPath === '/quan-ly-dien-dan' ? 'active' : '')) Quản lý diễn đàn
      li.nav-item
        a.nav-link(href=`/${prefixAdmin}/categories`, class=(currentPath === '/categories' ? 'active' : '')) Quản lý danh mục
      li.nav-item
        a.nav-link(href="/quan-ly-bai-viet", class=(currentPath === '/quan-ly-bai-viet' ? 'active' : '')) Quản lý bài viết
      li.nav-item
        a.nav-link(href=`/${prefixAdmin}/document`, class=(currentPath === '/document' ? 'active' : '')) Quản lý tài liệu